body {
  background-color: #211c28;
}
.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.button-row {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.display-chord-name {
  z-index: 999;
  position: absolute;
  top: 40%;
  right: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}
#chord-name {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 30px;
  font-weight: 100;
  color: #fff;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-right: 10px;
}

.note-button {
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #2c291b;
  color: #fff;
  font-size: 14px;
  font-weight: light;
  text-transform: uppercase;
  padding: 5px 10px;
  /* opacity: 0.1; */
  transition: opacity 0.2s ease-in-out;

}

.hidden {
  display:none;
}

.second-row {
  top: 50px;
}
.third-row {
  top: 100px;
}
.fourth-row {
  top: 200px;
}
.chord-button {
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(192, 192, 192, 0.1);
  color: #fff;
  font-size: 12px;
  font-weight: light;
  text-transform: uppercase;
  padding: 5px 10px;
  /* opacity: 0.1; */
  transition: opacity 0.2s ease-in-out;

}


.whatChord-button {
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(192, 192, 192, 0.1);
  color: #fff;
  font-size: 12px;
  font-weight: light;
  text-transform: uppercase;
  padding: 5px 10px !important;
  /* opacity: 0.1; */
  transition: opacity 0.2s ease-in-out;

}

.button-row button {
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: rgba(192, 192, 192, 0.1);
  color: #fff;
  font-size: 16px;
  font-weight: light;
  text-transform: uppercase;
  padding: 10px 20px;
  /* opacity: 0.1; */
  transition: opacity 0.2s ease-in-out;
}

.button-pressed {

  background-color: rgba(89, 89, 222, 0.502) !important;
}

.button-row button:hover {
  opacity: 1;
}

.view-modes{
top:100px;
right:100px;
}

#notes-container {
  z-index: 999;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 25px;
  left: 25%;
  font-size:11px;
}

#chord-container {
  z-index: 999;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 60px;
  left: 25%;
  font-size:11px;
}

.button-row button:active {
  opacity: 0.7;
}

.knob-container {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.knob-value {
  color:#fff;
  font-size: 12px;
  margin-top: 10px;
  display: block;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.knob-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.knob-base {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #cccccc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.knob-indicator {
  width: 2px;
  height: 50%; /* Half the knob's height */
  background-color: #000000;
  position: absolute;
  bottom: 50%;
  left: 49%; /* Center the indicator */
  z-index: 2;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}

